.text-theme-colored{
    color: #00a3c8 ;
}

.btn-theme-colored{
    background-color: #00a3c8;
    border-radius: 0;
    border: 0;
}

.styled-icons.icon-sm a {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 2px 7px 2px 0;
    width: 30px;
}

.styled-icons.icon-circled a {
    border-radius: 50%;
}

.styled-icons.icon-dark a {
    background-color: #333333;
    color: #eeeeee;
    display: block;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    width: 36px;
}
.styled-icons a {
    color: #333333;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    float: left;
    margin: 5px 7px 5px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-box i[class*="pe-7s-"] {
    vertical-align: text-bottom;
}

li{
    list-style: none;
}

.icon-box i {
    display: inline-block;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    width: 10000px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
